block header
  nav#main-header.header.js-main-header
    a.brand-logo(href='#')=SiteName
    ul.header__items
      li 
        a(href='sass.html') Sass
      li 
        a(href='badges.html') Components
      li 
        a(href='collapsible.html') JavaScript